//  Foundation for Emails Settings
//  ------------------------------
//
//  Table of Contents:
//
//   1. Global
//   2. Grid
//   3. Block Grid
//   4. Typography
//   5. Button
//   6. Callout
//   7. Menu
//   8. Thumbnial


// 1. Global
// ---------

$primary-color: #dd5726;
$secondary-color: #777777;
$success-color: #3adb76;
$warning-color: #ffae00;
$alert-color: #ec5840;
$light-gray: #f3f3f3;
$medium-gray: #cacaca;
$dark-gray: #8a8a8a;
$black: #0a0a0a;
$white: #fefefe;
$pre-color: #ff6908;
$global-width: 620px;
$global-width-small: 95%;
$global-gutter: 16px;
$container-background: #171512;
$body-background: darken(complement($container-background), 15%);
$global-font-color: #fffde6;
$body-font-family: 'helvetica', helvetica, 'arial', arial, 'AppleGothic', sans-serif;
$global-padding: 16px;
$global-margin: 16px;
$global-radius: 3px;
$global-rounded: 500px;
$global-breakpoint: $global-width + $global-gutter;

// 2. Grid
// -------

$grid-column-count: 12;
$column-padding-bottom: $global-padding;

// 3. Block Grid
// -------------

$block-grid-max: 8;
$block-grid-gutter: $global-gutter;

// 4. Typography
// -------------

$global-font-weight: normal;
$header-color: inherit;
$global-line-height: 1.3;
$global-font-size: 10pt;
$body-line-height: 19px;
$header-font-family: $body-font-family;
$header-font-weight: $global-font-weight;
$h1-font-size: 34px;
$h2-font-size: 30px;
$h3-font-size: 28px;
$h4-font-size: 24px;
$h5-font-size: 20px;
$h6-font-size: 18px;
$header-margin-bottom: 10px;
$paragraph-margin-bottom: 10px;
$small-font-size: 80%;
$small-font-color: $medium-gray;
$lead-font-size: $global-font-size * 1.25;
$lead-line-height: 1.6;
$text-padding: 10px;
$subheader-lineheight: 1.4;
$subheader-color: $dark-gray;
$subheader-font-weight: $global-font-weight;
$subheader-margin-top: 4px;
$subheader-margin-bottom: 8px;
$hr-width: $global-width;
$hr-border: 1px solid $medium-gray;
$hr-margin: 20px auto;
$anchor-text-decoration: none;
$anchor-color: #fcfb80;
$anchor-color-visited: $anchor-color;
$anchor-color-hover: darken($primary-color, 10%);
$anchor-color-active: $anchor-color-hover;
$stat-font-size: 40px;
$anchor-font-color: #fcfb80;

// 5. Button
// ---------

$button-padding: (
  tiny: 4px 8px 4px 8px,
  small: 5px 10px 5px 10px,
  default: 8px 16px 8px 16px,
  large: 10px 20px 10px 20px,
);
$button-font-size: (
  tiny: .8em,
  small: 1em,
  default: 1.5em,
  large: 2em,
);

$button-color: $container-background;
$button-color-alt: $medium-gray;
$button-font-weight: bold;
$button-margin: 0 0 $global-margin 0;
$button-background: $anchor-color;
$button-border: 2px solid $anchor-color;
$button-radius: $global-radius;
$button-rounded: $global-rounded;

// 6. Callout
// ----------

$callout-background: $white;
$callout-background-fade: 85%;
$callout-padding: 10px;
$callout-margin-bottom: $global-margin;
$callout-border: 1px solid darken($callout-background, 20%);
$callout-border-secondary: 1px solid darken($secondary-color, 20%);
$callout-border-success: 1px solid darken($success-color, 20%);
$callout-border-warning: 1px solid darken($warning-color, 20%);
$callout-border-alert: 1px solid darken($alert-color, 20%);

// 7. Menu
// -------

$menu-item-padding: 10px;
$menu-item-gutter: 10px;
$menu-item-color: $primary-color;

// 8. Thumbnial
// ------------

$thumbnail-border: solid 4px $white;
$thumbnail-margin-bottom: $global-margin;
$thumbnail-shadow: 0 0 0 1px rgba($black, 0.2);
$thumbnail-shadow-hover: 0 0 6px 1px rgba($primary-color, 0.5);
$thumbnail-transition: box-shadow 200ms ease-out;
$thumbnail-radius: $global-radius;

// 9. Custom
// ------------

.banner-row {
  background: $body-background;
  color:white;
  border-top: 2px solid #fffde6;
  border-bottom: 2px solid #fffde6;

  a, a:visited, a:active, a:hover {
    color:white;
  }
}

.user-container >tbody >tr >td >table >tbody >tr >th {
  padding-top: $global-padding;
}

blockquote {
  border-left: .25em solid $global-font-color;
  padding-left: 1em;
}

.showtimes {
  margin-left: 1.25em;
}

.strike-table {
  margin:0 auto;
  border-collapse:collapse;
  border-spacing:0;
  float:none;
  margin:0 auto;
  padding:0;
  text-align:center;
  vertical-align:middle;
  width:100%;

  th {
    vertical-align:middle;
  }

  .strike-table-left, .strike-table-right {
    width: 50%;

    div {
      border-bottom-width: 1px;
      border-bottom-style: solid;
      height: 1px;
      line-height:1px;
    }
  }

  .strike-table-content {
    white-space:nowrap;
    font-variant:small-caps;
  }

  .strike-table-left div {
    margin-right:1em;
  }

  .strike-table-right div {
    margin-left:1em;
  }
}

.strike-table-link {
  .strike-table-left, .strike-table-right {
    div {
      border-bottom-color: $anchor-color;
    }
  }
  .strike-table-content {
    color:$anchor-color;
  }
}

.caption {
  @extend .text-right;
  font-size: .75em;
}

.text-center {
  @extend h1.text-center;
}
