<container>
<row>
<columns small="12" large="12">
  {{!-- "Built Not To Frighten, But To Haunt" --}}
  <p></p>
  <p>
    "The film is <em>A Ghost Story</em>, in the sense that there’s a ghost in it, but it’s also many other things: a love story, a science fiction-inflected story about time travel and time loops, and a story about loneliness and denial, and the ephemeral nature of the flesh, and the anxiousness that comes from contemplating the end of consciousness (provided there’s no life after death — and what if there isn’t?)." (<a href="http://www.rogerebert.com/reviews/a-ghost-story-2017">#rogerebert.com</a>)
  </p>
  <p>
    <img src="http://www.google-analytics.com/collect?v=1&tid=UA-71251503-1&cid={{ID}}&t=event&ec=email&ea=open&el={{ID}}&cs=newsletter&cm=email&cn=newsletter_20170725" width="0" height="0"/>
  </p>
</columns>
</row>

{{> contact-row }}

<row>
<columns small="12" large="12">
  <h2 class="text-center" style="font-variant:small-caps;">News At A Glance</h2>
</columns>
</row>

<row>
<columns small="12" large="12">
  {{> strike-header link="http://www.nightlightcinema.com/film/paris-can-wait/" content="Get tickets for <em>Paris Can Wait<em> now." }}
  <em>Paris Can Wait</em>, but you probably shouldn't! This lovingly rendered roadtrip movie starring Alec Baldwin, Diane Lane, and the French countryside closes Wednesday.
</columns>
</row>

<row>
<columns small="12" large="12">
  {{> strike-header link="http://www.nightlightcinema.com/film/the-little-hours/" content="Get tickets for <em>The Little Hours<em> now." }}
  Let's just list a few actors, shall we? Aubrey Plaza, Kate Micucci, Alison Brie, Dave Franco, John C. Reilly. And so the list for <em>The Little Hours</em> goes on. Only a handful of hours left to catch this medieval sex farce closing Thursday!
</columns>
</row>

<row>
<columns small="12" large="12">
  {{> strike-header link="http://www.nightlightcinema.com/film/peg-picks-back-to-the-future/" content="Get tickets for <em>PEG Picks: Back to the Future<em> now." }}
  On Thursday, we rev up to 88mph with <a href="http://prittentertainmentgroup.com/">Pritt Entertainment Group</a>. That's right: All 1.21 gigawatts of <em>Back to the Future</em> electrifies The Nightlight's screen on Thursday. Don't miss the party!
</columns>
</row>

<row>
<columns small="12" large="12">
  {{> strike-header link="http://www.nightlightcinema.com/film/a-ghost-story/" content="Get tickets for <em>A Ghost Story<em> now." }}
  "A quietly grand romantic mystery, a metaphysical vision of love." (<a href="http://www.newyorker.com/culture/richard-brody/the-wildly-original-hauntings-of-a-ghost-story">#thenewyorker</a>) In <em>A Ghost Story</em>, "a passionate young couple, unexpectedly separated by a shocking loss, discover an eternal connection and a love that is infinite." Appears on screen Friday!
</columns>
</row>

{{!--
<row>
<columns small="12" large="12">
  {{> strike-header link="http://www.nightlightcinema.com/film/" content="View our full lineup now." }}
  <p>
    7/28 – <a href="http://www.nightlightcinema.com/film/a-ghost-story/"><em>A Ghost Story</em></a> – New from A24! "A singular exploration of legacy, loss, and the essential human longing for meaning and connection." –– 93% on <a href="https://www.rottentomatoes.com/m/a_ghost_story/">Rotten Tomatoes</a>
  </p>
</columns>
</row>
--}}

{{!--
<row>
<columns small="12" large="12">
  <h2 class="text-center" style="font-variant:small-caps;">A Note From The Nightlight</h2>
</columns>
</row>

<row class="collapse">
  <a href=""><img alt="PEG Picks: Back to the Future" src="http://www.nightlightcinema.com/email/20170717_peg_picks_back_to_the_future.png" style="border-width: 0px; border-style: solid; width: 620px; height: 349px;" /></a>
</row>

<row>
<columns small="12" large="12">
  <p>&nbsp;</p>
  <p>
    A couple months ago I sat down with Ryan Pritt and Andrew Nalette of Pritt Entertainment Group. PEG had recently installed
    some brand new editing and Skype interview equipment that we're eager to put into use. I mentioned the idea of
    a screening series where PEG and Nightlight could collaborate on something fun and, well, entertaining! I'm glad
    I asked, because I think what Ryan and Andrew came up with will be a hit!
  </p>
  <p>
    "We wanted to focus on films that represent the essence of each decade and that demonstrate the best of what was going on in film at that specific time," Andrew said. <em>PEG Picks</em> provides an opportunity for "movie lovers to get together… it’s fun to watch things like this as a group." The series will feature beloved cult classics up on the big screen – one from each of the last four decades.
  </p>
  <p>
    First up is the timeless classic, <em>Back to the Future</em>, a quintessential example of 80s filmmaking and a massive technological achievement. Hope to see you all there on Thursday, July 27th… that is, unless you're <strong>chicken</strong>!
  </p>
  <p style="text-align:right;">
    ~~ Kurtiss Hare, Executive Director
  </p>

  <center>
    <button href="http://www.nightlightcinema.com/film/peg-picks-back-to-the-future/" class="small-expanded rounded">Get Tickets to See <em>PEG Picks: Back to the Future</em> Now</button>
  </center>

</columns>
</row>
--}}

<row>
<columns small="12" large="12">
  <h2 class="text-center" style="font-variant:small-caps;">Now Playing / Coming Soon</h2>
</columns>
</row>

<row class="collapse">
  <a href="http://www.nightlightcinema.com/film/a-ghost-story/"><img alt="A Ghost Story" src="http://www.nightlightcinema.com/email/20170725_a_ghost_story.png" style="border-width: 0px; border-style: solid; width: 620px; height: 348px;" /></a>
</row>
<row>
  <columns>
    <p class="caption">Directed by David Lowery · USA · 92 Mins</p>
    <h5>A Ghost Story (2017)</h5>
    <blockquote>
      <p style="font-size:1.5em;">
        An unforgettable meditation on love and grief, <em>A Ghost Story</em> emerges ecstatic and surreal - a wholly unique experience that lingers long after the credits roll.
      </p>
      <p>
        The main special effect in <em>A Ghost Story</em> is older than the movies: After a young Dallas musician (Casey Affleck) dies in a car crash, he returns as a ghost to the home he shared with his wife (Rooney Mara), and he’s draped in a sheet with hastily made cutout eyeholes, like some misbegotten Halloween costume.
      </p>
      <p>
        Yet writer-director David Lowery channels the absurdity of this setup into an extraordinary mood piece that amounts to his best movie yet. Lowery has quickly developed a filmography that mines for awe in solitude, and here delivers a cosmic variation on that theme, exploring the ineffable relationship between people and the meaning they give to the places that have value in their lives. Both formally ambitious and emotionally accessible, <em>A Ghost Story</em> transforms its main stunt into a savvy dose of minimalism with existential possibilities that cut deep.
      </p>
      <p>
        The appeal of <em>A Ghost Story</em> is all the more impressive in the wake of <em>Pete's Dragon</em>, a movie Lowery made on an unfathomably larger scale and designed for mainstream appeal. But even as <em>A Ghost Story</em> exists in a niche, it’s not preaching to the converted; Lowery manages to find entertainment value and genuine intrigue from his outlandish scenario, synthesizing the magical realism of his earlier films with a tighter grasp of tone. The result is a soul-searching drama in which powerful revelations emerge less from a satisfying destination than from the beautiful struggle involved in getting there.
      </p>
    </blockquote>
    <p style="text-align:right;">
      ~~ Erik Kohn, <a href="http://www.indiewire.com/2017/01/a-ghost-story-review-rooney-mara-casey-affleck-sundance-2017-1201770434/">indiewire.com</a>
    </p>
    <h6>Click on a showtime below to buy tickets:</h6>
    {{#showtimes data=showtimes sessions="ST00000708"}}{{/showtimes}}
  </columns>
</row>

<row class="collapse">
  <a href="http://www.nightlightcinema.com/film/peg-picks-back-to-the-future/"><img alt="PEG Picks: Back to the Future" src="http://www.nightlightcinema.com/email/20170717_peg_picks_back_to_the_future.png" style="border-width: 0px; border-style: solid; width: 620px; height: 349px;" /></a>
</row>
<row>
  <columns>
    <p class="caption">Directed by Robert Zemeckis · USA · 116 Mins</p>
    <h5>PEG Picks: Back to the Future (1985)</h5>
    <blockquote>
      <p style="font-size:1.5em;">
        <a href="http://prittentertainmentgroup.com/blog/">Pritt Entertainment Group</a> and the Nightlight are partnering up for "PEG Picks", a 4-part series focusing on movies throughout the last few decades. First up is the timeless classic, <em>Back to the Future</em>, which is a quintessential example of '80s filmmaking, and a massive technological achievement.
      </p>
      <p>
        Using the idea of showing beloved cult classics on the big screen, the series hopes to bring a new audience into the Nightlight.
      </p>
      <p>
        "We wanted to focus on films that represent the essence of each decade and that demonstrates the best of what was going on in film at that specific time," explained Andrew Nalette from PEG. PEG Picks provides an opportunity for "movie lovers to get together," Nalette continued. "It’s fun to watch things like this as a group."
      </p>
      <p>
        Marty McFly, a 17-year-old high school student, is accidentally sent 30 years into the past in a time-traveling DeLorean invented by his close friend, the maverick scientist Doc Brown.
      </p>
    </blockquote>
    <p style="text-align:right;">
      ~~ Andrew Nalette, <a href="http://prittentertainmentgroup.com/blog/">prittentertainmentgroup.com</a>
    </p>
    <h6>Click on a showtime below to buy tickets:</h6>
    {{#showtimes data=showtimes sessions="ST00000720"}}{{/showtimes}}
  </columns>
</row>

<row class="collapse">
  <a href="http://www.nightlightcinema.com/film/the-little-hours/"><img alt="The Little Hours" src="http://www.nightlightcinema.com/email/20170725_the_little_hours.jpg" style="border-width: 0px; border-style: solid; width: 620px; height: 372px;" /></a>
</row>
<row>
  <columns>
    <p class="caption">Directed by Jeff Baena · USA · 90 Mins</p>
    <h5>The Little Hours (2017)</h5>
    <blockquote>
      <p>
        Medieval nuns Alessandra (Brie), Fernanda (Plaza), and Ginevra (Micucci) lead a simple life in their convent. Their days are spent chafing at monastic routine, spying on one another, and berating the estate’s day laborer. After a particularly vicious insult session drives the peasant away, Father Tommasso (Reilly) brings on new hired hand Massetto (Franco), a virile young servant forced into hiding by his angry lord. Introduced to the sisters as a deaf-mute to discourage temptation, Massetto struggles to maintain his cover as the repressed nunnery erupts in a whirlwind of pansexual horniness, substance abuse, and wicked revelry.
      </p>
      <p>
        Teeming with comedic talent, Jeff Baena’s <em>The Little Hours</em> is adapted from some of the bawdier tales in Boccaccio’s The Decameron and shot on location in Italy. The dialogue, however, is completely fresh and modern having been improvised on set. What could be a jarring juxtaposition in the hands of a less experienced group, instead comes off as genuine and authentic thanks to the wildly talented cast. Baena’s own secret weapon is his deep knowledge and clear affection for the source material – while a film major in college, he minored in Medieval Literature.
      </p>
    </blockquote>
    {{!--
    <p style="text-align:right;">
      ~~ Sheila O'Malley, <a href="http://www.rogerebert.com/reviews/the-little-hours-2017">rogerebert.com</a>
    </p>
    --}}
    <h6>Click on a showtime below to buy tickets:</h6>
    {{#showtimes data=showtimes sessions="ST00000724"}}{{/showtimes}}
  </columns>
</row>

<row class="collapse">
  <a href="http://www.nightlightcinema.com/film/paris-can-wait/"><img alt="Paris Can Wait" src="http://www.nightlightcinema.com/email/20170725_paris_can_wait.jpg" style="border-width: 0px; border-style: solid; width: 620px; height: 413px;" /></a>
</row>
<row>
  <columns>
    <p class="caption">Directed by Eleanor Coppola · USA, Japan · 92 Mins</p>
    <h5>Paris Can Wait (2016)</h5>
    <blockquote>
      <p style="font-size:1.5em">
        <em>Paris Can Wait</em> is a modest, genteel piece of cinematic escapism, a silky testament to sensuality…
      </p>
      <p>
        An ode to food, France, film and flirtation, <em>Paris Can Wait</em> is a creamy but not entirely disposable bonbon of a movie. Writer-director Eleanor Coppola makes her narrative feature debut here, albeit with a film not nearly as incisive or rigorous as her 1991 documentary <em>Hearts of Darkness</em>, about her husband Francis Ford Coppola’s struggles to make <em>Apocalypse Now</em>. But viewers will no doubt detect notes of loss and even anger in a movie about the wife of a big-shot movie producer who learns to embrace her own desires during an unexpected road trip.
      </p>
    </blockquote>
    <p style="text-align:right;">
      ~~ Ann Hornaday, <a href="https://www.washingtonpost.com/goingoutguide/movies/diane-lane-anchors-the-breezy-road-movierom-com-paris-can-wait/2017/05/17/a69696f6-3a17-11e7-9e48-c4f199710b69_story.html?tid=kp_google&utm_term=.f62cd5ccd17f">Washington Post</a>
    </p>
    <h6>Click on a showtime below to buy tickets:</h6>
    {{#showtimes data=showtimes sessions="ST00000726"}}{{/showtimes}}
  </columns>
</row>

<row>
  <columns large="12" small="12">
    <hr style="margin-top:0pt;" />
    <p class="text-center">
      Don't like hearing about great movies once a week? <a href="\{{UnsubscribeURL}}">Unsubscribe here</a>.
    </p>
  </columns>
</row>

</container>
