
<row>
  <columns>
    <container class="user-container">
      <row class="banner-row">
        <columns small="6" large="6">
          <img src="http://www.nightlightcinema.com/email/nightlightmarquee.jpg"/>
        </columns>
        <columns small="6" large="6">
          <table class="float-center" style="width:auto;" cellpadding="12">
            <tbody>
              {{#each links}}
              <tr>
                <td style="width:18px;">
                  <a href="{{ this.href_root }}" target="_blank"><img border="0" height="18" width="18" src="{{ this.img }}" align="right" style="line-height:0;padding-right:0.5em;margin-bottom:.25em;height:18px;width:18px;"/></a>
                </td>
                <td>
                  <a href="{{ this.href }}" style="white-space:nowrap;font-size:.75em;text-decoration:underline;" target="_blank">{{ this.img_suffix }}</a>
                </td>
              </tr>
              {{/each}}
            </tbody>
          </table>
        </columns>
      </row>
    </container>
  </columns>
</row>
