{{#if link}}
<a href="{{link}}">
{{/if}}
<table class="strike-table{{#if link}} strike-table-link{{/if}}">
  <tbody>
    <tr>
      <th class="strike-table-left"><div/></th>
      <th>
        <table>
          <tr>
            <td class="strike-table-content">{{{content}}}</td>
          </tr>
        </table>
      </th>
      <th class="strike-table-right"><div/></th>
    </tr>
  </tbody>
</table>
{{#if link}}
</a>
{{/if}}
